<div class="first-block">
  <div class="some-test">
    <div class="my-logo">
      <img  src="../../assets/media/picturemessage_4seanznx%201.png">
    </div>
    <div class="first-block-title">
      <h1> Try <span class="pink"> Met Jip</span> for free</h1>
      <p>Try Met Jip for free for 14 days. Do you already have a login than you can.
        <a href="#">Login here</a></p>
    </div>
    <!--    <app-form-first></app-form-first>-->
    <app-second-form></app-second-form>
  </div>
</div>

