<div class="content1">
  <div class="content-info">
    <div class="content-info-logo">
      <img src="../../assets/media/picturemessage_4seanznx%201.png">
    </div>
    <div class="content-info-image">
      <img src="../../assets/media/Group%205%20100.png">
    </div>
    <div class="content-info-title">
      Thanks for Registering!
    </div>
    <div class="content-info-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br> eiusmod tempor incididunt ut labore et dolore magna aliqua!
    </div>
    <div class="content-info-btn">
      <button class="content-info-btn-trial">Start free trial</button>
      <button class="content-info-btn-pro">Become a Pro</button>
    </div>
  </div>
</div>
