<div class="backdrop"></div>

<div class="modal">
<!--  <button class="btn-modal" (click)="close.emit()"></button>-->
  <a class="btn-modal" (click)="close.emit()"><img src="../../assets/media/Union.png" class="modal__cross modal-close" /></a>
  <div class="modal-content">
    <h1>Privacy Statement</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Vulputate sapien nec sagittis aliquam malesuada bibendum. Vulputate ut pharetra sit
      amet aliquam id diam maecenas ultricies. Aliquet nibh praesent tristique magna sit amet. Convallis aenean
      et tortor at risus viverra. Tristique sollicitudin nibh sit amet commodo. Integer enim neque volutpat ac
      tincidunt vitae semper. Rhoncus urna neque viverra justo nec ultrices.</p>
    <p>Viverra aliquet eget sit amet tellus cras adipiscing enim eu. Elementum pulvinar etiam non quam lacus
      suspendisse faucibus. Nec sagittis aliquam malesuada bibendum arcu vitae elementum. Tortor posuere ac ut
      consequat semper viverra. At quis risus sed vulputate odio ut enim blandit.</p>
    <p>Ornare massa eget egestas purus viverra accumsan. Mattis rhoncus urna neque viverra justo nec. Adipiscing
      diam donec adipiscing tristique risus nec feugiat. Amet massa vitae tortor condimentum. At varius vel pharetra
      vel. Porttitor eget dolor morbi non arcu risus quis varius. Id donec ultrices tincidunt arcu. Aliquet enim
      tortor at auctor urna nunc id cursus. Rhoncus dolor purus non enim praesent elementum facilisis leo.</p>
    <h4>Amet massa vitae tortor</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Vulputate sapien nec sagittis aliquam malesuada bibendum. Vulputate ut pharetra sit amet aliquam
      id diam maecenas ultricies. Aliquet nibh praesent tristique magna sit amet. Convallis aenean et tortor at risus
      viverra. Tristique sollicitudin nibh sit amet commodo. Integer enim neque volutpat ac tincidunt vitae semper.
      Rhoncus urna neque viverra justo nec ultrices.</p>
    <p>Viverra aliquet eget sit amet tellus cras adipiscing enim eu. Elementum pulvinar etiam non quam lacus suspendisse
      faucibus. Nec sagittis aliquam malesuada bibendum arcu vitae elementum. Tortor posuere ac ut consequat semper
      viverra. At quis risus sed vulputate odio ut enim blandit.</p>
  </div>

</div>
