<div class="some-layout">
  <div class="info-content-title">
    <p>Everything you need</p>
  </div>
  <ul class="info-content-ul">
    <li class="info-content-ul-li">
      Unlimited Number of Campaigns
    </li>
    <li class="info-content-ul-li">
      Unlimited Number of Domains
    </li>
    <li class="info-content-ul-li">
      All Products Included
    </li>
    <li class="info-content-ul-li">
      All Features Included
    </li>

  </ul>
  <div class="info-content-some">
    All this and much more….
  </div>
  <div class="info-content-industry">
    <p>
      Trusted by many industry leaders
    </p>
    <!--                <img src="media/Group%20427.png">-->
  </div>
</div>

